
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Home</h1>
			{{#if cookie_accept}}
				{{#if authorised}}
					<a href="/logout">Log out</a>
					<a href="/cart" style="margin: 0;padding: 0;margin-right: 3vw;background-color: #ccc;border: none; height: 95%; display: flex; justify-content: center; align-items: center; "><figure><p style="position:absolute; color: red; width: 4%; height: 10%; margin: 0; padding-bottom: 2vw; font-weight: bold; font-size: 1.75vw;">{{this.counter}}</p><img src="./uploads/cart.png" alt="Cart Icon" style="width: 60px; height: 60px; margin-top: 0.5vw;"/></figure></a>
					<p style="margin: 0;width: 80%;padding: 3vw;height: 100%;text-align: right;margin-right: 0;">£{{this.price}}.00<p>
				{{else}}
					{{#if admin}}
						<a href="/logout">Log out</a>
						<a href="/stock">Stock Levels</a>
					{{else}}
						<a href="/login">Log in</a>
					{{/if}}
				{{/if}}
			{{/if}}
		</header>
	<main style="max-width: 100%; height: 100%; flex-direction: row; display: flex; flex-wrap: wrap;">
		{{#if authorised}}
			{{#each sub_data}}
			<section class="home_stock">
				<p>{{this.book_title}}</p>
				<figure><img src="{{this.filepath}}" alt="Book Cover"/></figure>
                <form class="home_form" method="post" action="/">
					<input type="hidden" name="isbn" value="{{this.isbn}}"/>
                    <input type="submit" value="Add to cart"/>
                </form>
			</section>
			{{/each}}
		{{else}}
			{{#if admin}}
				<p>Admins can only see the stock, cannot purchase the stock but can manage the stock on the 'STOCK LEVELS' screen.</p>
			{{else}}
				<p>WELCOME TO THE HOME SCREEN!</p>
			{{/if}}
		{{/if}}
	</main>
	</body>
</html>
